.custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
.btn:hover{
    background-color: rgba(0, 91, 134, 0.88);
}

.custom-input {
    border: 2px solid rgba(24, 88, 120, 1);
}
.custom-input:focus {
    border-color: rgba(24, 88, 120, 1); 
    box-shadow: none; 
}
.custom-button {
    background-color: white;
    color: black;
}

.custom-bg-primary{
    background-color:rgba(0, 91, 134, 0.88)
}
.custom-button:hover {
    background-color: rgba(0, 91, 134, 0.88); 
    color: white; 
}
.border-red {
border: 2px solid rgba(142, 2, 5, 0.97);
}  
.custom-validation-error{
    color: rgba(142, 2, 5, 0.97);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}